absl-py==2.3.1
actionlib==1.14.3
aiohappyeyeballs
aiohttp
aiosignal
alabaster
alephzero==0.3.17
angles==1.9.14
antlr4-python3-runtime
asv
asv_runner
async-timeout
attrs
babel
beautifulsoup4
black
blinker
bondpy==1.8.7
breathe
Brotli
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catkin==0.8.12
certifi
cffi
charset-normalizer
click
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-zlib==1.3.1
coal==3.0.1
colorama
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler
dash
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
distlib
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.23
docstring_parser==0.17.0
docutils
dynamic-reconfigure==1.7.6
-e git+ssh://git@github.com/JasonJZLiu/FACTR_Teleop.git@7a07ab3629af03a91c0198df7c44a0082dca77ab#egg=dynamixel_sdk&subdirectory=src/factr_teleop/factr_teleop/dynamixel/python
easyhid==0.0.10
eigenpy==3.10.3
empy==3.3.4
etils==1.3.0
eval_type_backport==0.3.1
exceptiongroup
filelock
Flask
frozenlist
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
-e git+https://github.com/wuphilipp/gello_software.git@c3eea50be1c34e426ac94a0192d0d32bd1adc188#egg=gello
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
gitdb
GitPython
glfw
grpcio
h2
habitat-sim==0.2.1
hpack==4.0.0
hydra-core
hyperframe
idna
image-geometry==1.16.2
imageio==2.35.1
imageio-ffmpeg==0.5.1
imagesize
importlib-resources
importlib_metadata
iniconfig
interactive-markers==1.12.2
itsdangerous
Jinja2
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
json5
jsonpointer==3.0.0
kiwisolver
labmaze==1.0.6
laser-geometry==1.6.8
llvmlite==0.41.1
lxml==6.0.2
magnum
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
message-filters==1.17.4
moveit-commander==1.1.16
moveit-core==1.1.16
moveit-ros-planning-interface==1.1.16
moveit-ros-visualization==1.1.16
mujoco==3.2.3
multidict
mypy-extensions
myst-parser
nest_asyncio
numba
numpy==1.24.4
numpy-quaternion
-e git+https://github.com/rail-berkeley/oculus_reader.git@17bc7b3923f5754d70c4e358867a3bcac1a3c0c3#egg=oculus_reader
olefile
omegaconf
packaging
pandas
pathspec
pillow==10.4.0
platformdirs
plotly
pluggy
-e git+ssh://git@github.com/facebookresearch/fairo@0a01a7fa7a7c65b2f9a3aebf5e79040940daf9d2#egg=polymetis&subdirectory=polymetis/polymetis
pooch
prompt_toolkit
protobuf==3.20.3
pure-python-adb==0.3.0.dev0
py-cpuinfo
pybullet
pycparser
pydata-sphinx-theme
Pygments
pymodbus
Pympler
PyOpenGL
pyparsing
pyrealsense2==2.55.1.6486
pyserial==3.5
pyserial-asyncio
PySocks
pyspacemouse==1.1.5
pytest
pytest-benchmark
python-dateutil
python-qt-binding==0.4.6
pytz
PyYAML
pyzmq==27.1.0
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
requests
resource-retriever==1.12.10
retrying
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rqt-action==0.4.11
rqt-bag==0.5.3
rqt-bag-plugins==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui==0.5.5
rqt-gui-py==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rviz==1.14.26
scipy==1.10.1
sensor-msgs==1.13.2
six
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.7
smmap
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx-copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml
srdfdom==0.6.4
tabulate
tenacity
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
tf2-sensor-msgs==0.7.10
tomli==2.3.0
topic-tools==1.17.4
torch==1.13.1
tornado
tqdm
typeguard==4.4.0
typing_extensions==4.13.2
tyro==1.0.1
tzdata
urdfdom-py==0.4.6
urllib3
virtualenv
wcwidth
websocket-client==1.8.0
Werkzeug
xacro==1.14.20
yarl
zipp
zmq==0.0.0
zstandard==0.23.0
